@import "../../styles/main.scss";

.AccountWishlistPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  

  @include onBigDesktop {
    gap: 48px;
  }

  @include onMobile {
    gap: 32px;
  }
  
  &__text {
    @extend %body;
  }
}