@import "../../styles/main.scss";

.MobileMenu {
  transition-duration: $transition-duration;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background-color: $main-background;

  &__nav {
    margin-top: 16px;
    
    &-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      

      &-item1 {
        animation: fade-in-left $transition-duration ease-in-out;
      }
      &-item2 {
        animation: fade-in-left 0.5s ease-in-out;
      }
      &-item3 {
        animation: fade-in-left 0.7s ease-in-out;
      }

      &-link {
        @extend %navigation;
        

        &:hover {
          color: $bordo;
        }
      }
    }
  }
}

