@import "../../styles/main.scss";

.AddToFavButton {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: $transition-duration;

  @include onBigDesktop {
    width: 46px;
    height: 46px;
  }

  &:hover {
  }
}
