@import "../../styles/main.scss";

.LoginPage {
  width: 100%;
  padding-top: 32px;
  display: flex;
  gap: 32px;

  @include onBigDesktop {
    gap: 24px;
  }

  @include onTablet {
    flex-direction: column;
    align-items: center;
  }

  &__photo {
    flex: 50%;
    background-image: url('../../assests/login.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 720px;
    
    @include onBigDesktop {
      max-height: 424px;
    }

    @include onTablet {
      flex: unset;
      width: 100%;
      height: 478px;
      max-width: unset;
    }

    @media (max-width: 500px) {
      height: 350px;
    }

    @media (max-width: 400px) {
      height: 250px;      
    }
  }

  &__content {
    flex: 50%;
    display: flex;
    flex-direction: column;

    @include onTablet {
      flex: unset;
      margin-bottom: 80px;
    }
  }

  &__nav {
    margin: 128px 0 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 32px;
    border-bottom: 1px solid $beige;
    padding: 16px;

    @include onBigDesktop {
      margin: 12px 0 48px;
    }

    @include onTablet {
      margin: 0 0 48px; 
    }

    @include onMobile {
      margin-bottom: 32px; 
    }

    &-link {
      color: $grey;
      @extend %navigation;

      &:hover {
        color: $black;
      }

      @include onBigDesktop {
       font-size: 12px;
      }
      
      @include onMobile {
        text-transform: none;
      }
    }    
  }

  &__link {
    margin-top: 16px;
    margin-bottom: 32px;
    border-bottom: 1px solid $bordo;
    color: $bordo;
    transition-duration: $transition-duration;
    @extend %body;

    &:hover {
      font-weight: 600;
    }

    @include onBigDesktop {
      margin-bottom: 24px;
    }   
  }
}

.login-navlink-active {
  color: $black;
}