@import "../../styles/main.scss";

.PhilosophyPage {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 176px;
  padding: 32px 0 80px;

  @include onBigDesktop {
    gap: 100px;
  }

  @include onDesktop {
    padding-top: 24px;
    gap: 24px;
  }

  @include onTablet {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  &__content {
    flex: 50%;
    display: flex;
    flex-direction: column;
    max-width: 544px;

    @include onDesktop {
      max-width: 424px;
    }

    @include onTablet {
      flex: unset;
      max-width: 600px;
    }

    @include onMobile {
      max-width: unset;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;

    @include onDesktop {
      font-size: 14px;
    }

    @include onMobile{
      font-size: 12px;
    }

  }

  &__moto {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $bordo;
  }

  &__message {
    margin-top: 64px;
    font-size: 16px;
    font-weight: 400;

    @include onBigDesktop {
      margin-top: 48px;
    }

    @include onMobile{
      font-size: 12px;
    }
  }

  &__logo {
    width: 256px;
    height: 256px;
    margin-top: 32px;
    background-image: url('../../assests/logo.png');
    background-position: center;
    background-size: cover;
    align-self: center;
    animation: spin 12s linear infinite;

    @include onDesktop {
      margin-top: 24px;
      width: 200px;
      height: 200px;
    }

    @include onMobile{
      width: 136px;
      height: 136px;
    }
  }

  &__photo {
    flex: 50%;
    background-image: url('../../assests/philosophy.jpg');
    background-size: cover;
    background-position: 0 -140px;
    background-repeat: no-repeat;
    max-width: 832px;
    max-height: 720px;

    @include onBigDesktop {
      max-width: 550px;
      max-height: 550px;
      background-position: 0 -60px;
    }

    @include onDesktop {
      max-width: 424px;
      max-height: 424px;
    }

    @include onTablet {
      flex: unset;
      width: 100%;
      height: 478px;
      max-height: unset;
      max-width: unset;
      background-position: 0 -100px;
    }

    @media (max-width: 500px) {
      height: 350px;
      background-position: 0 -50px;
    }

    @media (max-width: 400px) {
      height: 250px;      
    }
  }
}

