@import "../../styles/main.scss";

.ProductList {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;

  @include onBigDesktop {
    gap: 24px;
  }

  @include onMobile {
    gap: 10px;
  }

  &__item {
    display: flex;

    @include onTablet {
      margin-bottom: 16px;
    }
  }
}
