@import "../../styles/main.scss";

.CheckoutPage {
  display: flex;
  width: 100%;

  @include onTablet {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  &__container {
    margin-top: 32px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onBigDesktop {
      margin-top: 24px;
    }
    @include onTablet {
      width: 100%;
    }
  }

  &__header {
    display: flex;
    gap: 8px;
    @extend %body;
  }

  &__link {
    border-bottom: 1px solid $bordo;
    color: $bordo;
    transition-duration: $transition-duration;

    &:hover {
      font-weight: 600;
    }
  }

  &__form {
    margin: 32px 0 120px;
    
    @include onBigDesktop {
      margin-top: 24px 0 80px;
    }
  }


  &__title {
    margin-top: 32px;
    @extend %h2;


    @include onBigDesktop {
      margin-top: 24px;
    }

    @include onTablet {
      position: absolute;
      margin-top: 0;
      top: 24px;
    }

    @include onMobile {
      top: 32px;
    }
  }

  &__bag {
    padding: 160px 112px 0px 144px;
    background-color: $beige;
    position: fixed;
    width: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    
    @include onBigDesktop {
      padding: 112px 112px 0px 114px;
      width: 48%;
    }

    @include onDesktop {
      padding: 112px 60px 0px 114px;
    }

    @include onTablet {
      position: relative;
      padding: 0 60px 48px;
      min-width: 100vw;
      height: 310px;
      display: flex;
      gap: 12px;
      margin-inline: -60px;
    }

    @include onMobile {
      margin-inline: -16px;
      flex-direction: column;
      gap: 32px;
      height: 330px;
      padding: 0 16px 48px;
    }
  

    &-content {
      margin-top: 64px;
      overflow-y: auto;
      padding-right: 6px;
      height: 60%;

      @include scroll;

      &::-webkit-scrollbar-track {
        box-shadow: inset 2px 2px 5px #80808049; 
      }
      
      @extend %body;
      text-transform: uppercase;
      
      @include onBigDesktop {
        font-size: 12px;
        margin-top: 32px;
      }

      @include onTablet {
        margin-top: 94px;
        min-height: 138px;
      }

      @include onMobile {
        min-height: 132px;
        margin-top: 86px;
      }
    }

    &-bottom {
      flex-grow: 1;
      align-self: flex-end;

      @include onMobile {
        flex-grow: unset;
        align-self: unset;
      }
      
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
  
    }
  }


  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $beige;
    @extend %body;
    margin-top: 16px;    
    text-transform: uppercase;

    @include onBigDesktop {
      margin-top: 6px;
    }

    &-value {
      font-weight: 600;
    }
  }

  &__delivery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $beige;
    @extend %body;    
    text-transform: uppercase;
    margin-top: 64px;

    @include onBigDesktop {
      margin-top: 32px;
    }

    @include onMobile {
      margin-top: 0;
    }     
  }
}