@import "../../styles/main.scss";

.Loader {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  min-height: 50%;
  justify-content: center;
  align-items: center;

  &__content {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: 1em auto;
    border: 0.2em solid #dddddd8b;
    border-left-color: $black;
    animation: load8 1.2s infinite linear;
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
