@import "../../styles/main.scss";


.Cart {
  width: 512px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $main-background;
  animation: fade-in-left $transition-duration ease-in-out; 

  @include onBigDesktop {
    width: 388px;
  }

  @include onTablet {
    width: 372px;
  }

  @include onMobile {
    width: 264px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    border-bottom: 1px solid $beige;

    @include onBigDesktop {
      padding: 18px 24px;
    }

    @include onMobile {
      padding: 8px 16px;
    }
  }

  &__title {
    @extend %h2;    

    @include onBigDesktop {
      font-size: 15px;
      text-transform: uppercase;
    }

    @include onMobile {
      font-weight: 400;
      text-transform: none;
    }
  }

  &__content {
    margin: 16px 32px;
    overflow-y: auto;
    padding-right: 6px;
    height: 65%;
    
    @extend %body;
    text-transform: uppercase;
    
    @include onBigDesktop {
      font-size: 12px;
      margin: 16px 24px;
    }

    @include onMobile {
      margin: 16px;
    }

    @include scroll;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__wrapper {
    position: absolute;
    bottom: 32px;
    width: 100%;
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    border-top: 1px solid $beige;
    @extend %body;    
    text-transform: uppercase;

    @include onBigDesktop {
      padding: 16px 24px;
    }

    &-value {
      font-weight: 600;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    margin-right: 32px;

    @include onBigDesktop {
      margin-right: 24px;
    }
  }
}
