@import "../../styles/main.scss";

.ShopTopBar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;

  @include onDesktop {
    margin: 24px 0;
  }

  @include onMobile {
    margin: 16px 0;
    align-items: flex-start;
  }

  &__categories {
    display: flex;
    gap: 32px;    
    

    @include onDesktop {
      gap: 24px;
    }

    @include onMobile {
      gap: 8px;
      flex-wrap: wrap;
    }

    &-item {
      color: $grey;
      text-transform: uppercase;
      @extend %body;
      transition-duration: $transition-duration;

      &:hover {
        color: $black;
      }

      @include onMobile {
        margin-right: 8px;
      }
    }
  }

  &__filter {
    display: flex;
    align-items: center;
    gap: 16px;

    @include onTablet {
      gap: 8px;
    }

    &:hover {
      .ShopTopBar__filter-title {
        color: $bordo;
      }
      .icon--filter {
        background-image: url('../../assests/icons/filter-hover.svg');
        transform: none;
      }
    }
    

    &-title {
      text-transform: uppercase;
      @extend %body;
      transition-duration: $transition-duration;
    }
  }
}

.is-active {
  color: $black;;
}