@import "./mixins.scss";
@import "./vars.scss";

@font-face {
  font-family: "Nunito Sans Regular";
  src: url('../fonts/NunitoSans_7pt-Regular.otf');
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url('../fonts/NunitoSans_7pt-Bold.otf');
}


%h1 {
  font-family: 'Nunito Sans Bold', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 110%;

  @include onBigDesktop {
    font-size: 32px;
  }

  @include onMobile {
    font-size: 16px;
    line-height: 140%;
  }
}

%h2 {
  font-family: 'Nunito Sans Bold', sans-serif;;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%; 
}

%h3 {
  font-family: 'Nunito Sans Bold', sans-serif;;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%; 
  
  @include onBigDesktop {
    font-weight: 400;
    font-size: 14px;
  }
}

%h4 {
  font-family: 'Nunito Sans Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; 
  text-transform: uppercase;
}

%navigation {
  font-family: 'Nunito Sans Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; 
  text-transform: uppercase;

  @include onMobile {
    font-size: 12px;
  }
}

%body {
  font-family:'Nunito Sans Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;

  @include onBigDesktop {
    font-size: 14px;
  }
}

%button {
  font-family: 'Nunito Sans Bold', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%; 
  text-transform: uppercase;
  color: $main-background;
}

%smallText {
  font-family: 'Nunito Sans Regular', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
