@import "./vars.scss";

.icon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: $transition-duration;

  @include onMobile {
    width: 16px;
    height: 16px;
  }

  &__rotate {
    transform: rotate(180deg);

    &:hover {
      transform: rotate(180deg) scale(1.1);
    }
  }

  &:hover {
    transform: scale(1.1);
  }

  &--account {
    background-image: url('../assests/icons/account.svg');

    &:hover {
      background-image: url('../assests/icons/account-hover.svg');
    }
  }

  &--menu {
    background-image: url('../assests/icons/menu.svg');

    &:hover {
      background-image: url('../assests/icons/menu-hover.svg');
    }
  }


  &--search {
    background-image: url('../assests/icons/search.svg');

    &:hover {
      background-image: url('../assests/icons/search-hover.svg');
    }
  }

  &--cart {
    background-image: url('../assests/icons/cart.svg');

    &:hover {
      background-image: url('../assests/icons/cart-hover.svg');
    }
  }

  &--rights {
    background-image: url('../assests/icons/rights.svg');
  }

  &--favourites {
    width: 40px;
    height: 40px;
    background-image: url('../assests/icons/favourites.svg');

    @include onBigDesktop {
      width: 24px;
      height: 24px;
    }
  }

  &--favourites-added {
    width: 40px;
    height: 40px;
    background-image: url('../assests/icons/favourites-added.svg');

    @include onBigDesktop {
      width: 24px;
      height: 24px;
    }
  }

  &--favourites-white {
    width: 40px;
    height: 40px;
    background-image: url('../assests/icons/favourites-white.svg');

    @include onBigDesktop {
      width: 24px;
      height: 24px;
    }
  }

  &--close {
    background-image: url('../assests/icons/close.svg');

    @media (max-width: 1560px) {
      width: 18px;
      height: 18px;
    }
  }

  &--close-white {
    background-image: url('../assests/icons/close-white.svg');
  }

  &--filter {
    background-image: url('../assests/icons/filter.svg');

    &:hover {
      background-image: url('../assests/icons/filter-hover.svg');
    }
  }

  &--arrow-left {
    background-image: url('../assests/icons/arrow-left.svg');

    &:hover {
      background-image: url('../assests/icons/arrow-left-hover.svg');
    }
  }

  &--arrow-right {
    background-image: url('../assests/icons/arrow-right.svg');

    &:hover {
      background-image: url('../assests/icons/arrow-right-hover.svg');
    }
  }

  &--arrow-down {
    background-image: url('../assests/icons/arrow-down.svg');
  }

  &--remove {
    background-image: url('../assests/icons/remove.svg');

    &:hover {
      background-image: url('../assests/icons/remove-hover.svg');
      transform: none;
    }
  }

  &--minus {
    background-image: url('../assests/icons/minus.svg');

    &:hover {
      background-image: url('../assests/icons/minus-hover.svg');
      transform: none;
    }
  }

  &--plus {
    background-image: url('../assests/icons/plus.svg');

    &:hover {
      background-image: url('../assests/icons/plus-hover.svg');
      transform: none;
    }
  }
}
