@mixin onMobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin onTablet {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin onDesktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin onBigDesktop {
  @media (max-width: 1560px) {
    @content;
  }
}


@mixin scroll {
  &::-webkit-scrollbar {
    width: 8px;    
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: inset 2px 2px 5px $beige; 
    border-radius: 8px;
  }
   
  &::-webkit-scrollbar-thumb {
    background: #80808049; 
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #80808082;        
  }
}