* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
ul,
li,
p,
button,
span,
input {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input, textarea {
  font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #020A0A;
  font-family: inherit;
  -webkit-text-fill-color: #020A0A;
  transition: background-color 5000s ease-in-out 0s;
}
