$main-background: #f9f8f3;
$modal-background: #80808033;
$beige: #eae3d2;
$black: #020a0a;
$grey: #808080;
$blue: #576c86;
$light-blue: #799ec1;
$brown: #a48871;
$bordo: #833f34;
$error-background: #faeaea;
$payment-danger: #d9bcc1;
$payment-success: #b3bda2;
$payment-process: #ddd0c8;

$transition-duration: 0.4s;

$card-width-base: 400px;
$card-width-bigDesktop: 250px;
$card-width-desktop: 200px;
$card-width-mobile: 220px;
