
$main-background: #F9F8F3;
$beige: #EAE3D2;
$black: #020A0A;
$grey: #808080;
$blue: #576C86;
$light-blue: #799EC1;
$brown: #A48871;
$bordo: #833F34;
$error-background: #FAEAEA;

$transition-duration: 0.4s;

$card-width-desktop: 400px;
$card-width-mobile: 220px;
