@import "../../styles/main.scss";

.OrderItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 208px;
  border-top: 1px solid $beige;
  border-bottom: 1px solid $beige;
  height: 110px;
  padding: 8px 0;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-top {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &-status {
      display: flex;
      width: 208px;
      height: 48px;
      justify-content: center;
      align-items: center;
      @extend %button;
      color: $main-background;
      background-color: $payment-process;
    }
  }

  &__id {
    font-size: 16px;
    font-weight: 700;
  }

  &__date {
    font-size: 12px;
    font-weight: 400;
    color: $grey;
  }

  &__list {
    display: flex;
    gap: 16px;
    max-width: 254px;
    overflow: hidden;

    &-item {
      width: 62px;
      height: 94px;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      width: 62px;
      height: 94px;

    }
  }

  &__right {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    &-button {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  &__details {
    width: 100%;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 1px solid $beige;
    border-bottom: 1px solid $beige;

    &-title {
      @extend %body;
      font-size: 16px;
      margin-bottom: 8px;
    }

    &-list {
      display: flex;
      gap: 16px;

      &-item {
        height: 168px;

        @include onBigDesktop {
          height: 138px;
        }
      }
    }

    &-delivery {

      &-info {
        text-transform: capitalize;
        @extend %smallText;
        color: $grey;
        margin-bottom: 4px;
      }
    }
  }
}