@import "../../styles/main.scss";

.AccountDetailsPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 32px;
    margin-top: 80px;
    margin-bottom: 60px;

    @include onBigDesktop {
      // gap: 24px;
      margin-top: 48px;
    }
  }


  &__input {
    width: 544px;
    height: 56px;
    text-align: center;
    outline: none;
    border: 1px solid $grey;
    background-color: $main-background;
    margin-bottom: 24px;        

    &:focus {
      border-color: $black;
    }

    &::placeholder {
      text-align: center;
    }

    @include onBigDesktop {
      width: 424px;
      height: 48px;      
    }
  }

  &__link {
    color: $bordo;
    border-bottom: 1px solid $bordo;
    transition-duration: $transition-duration;
    @extend %body;

    &:hover {
      font-weight: 600;
    }
  }

  &__button {
    position: absolute;
    bottom: -48px;
    display: flex;
    width: 208px;
    height: 56px;
    justify-content: center;
    align-items: center;
    background-color: $black;
    border: 1px solid transparent;
    transition-duration: $transition-duration;
    @extend %button;
    

    @include onBigDesktop {
      width: 158px;
      height: 48px;
      font-size: 12px;
    }

    &:hover {
      color: $black;
      background-color: $main-background;
      border-color: $black;
    }
  }
}