@import "../../styles/main.scss";

.AccountDetailsPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    margin: 80px 0 40px;
    position: relative;

    @include onBigDesktop {
      margin: 64px 0 24px;
    }

    @include onMobile {
      margin: 32px 0 0;
    }
  }

  &__link {
    color: $bordo;
    border-bottom: 1px solid $bordo;
    transition-duration: $transition-duration;
    margin-bottom: 160px;
    @extend %body;

    &:hover {
      font-weight: 600;
    }
  }

  &__button {
    position: absolute;
    bottom: -160px;
    

    @include onBigDesktop {
      bottom: -128px;
    }

    @include onMobile {
      bottom: -84px;
    }
  }
}