@import "../../styles/main.scss";

.MerchPage {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 176px;
  padding: 32px 0 80px;

  @include onBigDesktop {
    gap: 100px;
  }

  @include onDesktop {
    padding-top: 24px;
    gap: 24px;
  }

  @include onTablet {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  &__content {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 544px;

    @include onDesktop {
      max-width: 424px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
  }

  &__message {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $bordo;
  }

  &__account {
    display: flex;
    gap: 8px;
    @extend %body;
    margin-top: 64px;

    @include onBigDesktop {
      margin-top: 48px;
    }

    &-link {
      border-bottom: 1px solid $bordo;
      color: $bordo;
      transition-duration: $transition-duration;
  
      &:hover {
        font-weight: 600;
      }
    }
  }

  &__form {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    
    @include onBigDesktop {
      gap: 24px;
      margin-top: 24px;
    }
  }

  &__input {
    width: 544px;
    height: 56px;
    text-align: center;
    outline: none;
    border: 1px solid $grey;
    background-color: $main-background;

    &:focus {
      border-color: $black;
    }

    &::placeholder {
      text-align: center;
    }

    @include onBigDesktop {
      width: 424px;
      height: 48px;
    }
  }


  &__textarea {
    width: 544px;
    height: 160px;
    padding: 8px;
    text-align: center;
    outline: none;
    border: 1px solid $grey;
    background-color: $main-background;
    resize: none;

    &:focus {
      border-color: $black;
    }

    &::placeholder {
      text-align: center;
    }

    @include onBigDesktop {
      width: 424px;
      height: 120px;
    }

    @media (max-width: 480px) {
      width: 280px;
    }
  }

  &__photo {
    flex: 50%;
    background-image: url('../../assests/merch.jpg');
    background-size: cover;
    background-position: 0 -140px;
    background-repeat: no-repeat;
    max-width: 832px;
    max-height: 720px;

    @include onBigDesktop {
      max-width: 550px;
      max-height: 550px;
      background-position: 0 -60px;
    }

    @include onDesktop {
      max-width: 424px;
      max-height: 424px;
    }

    @include onTablet {
      flex: unset;
      width: 100%;
      height: 478px;
      max-height: unset;
      max-width: unset;
      background-position: 0 -100px;
    }

    @media (max-width: 500px) {
      height: 350px;
      background-position: 0 -50px;
    }

    @media (max-width: 400px) {
      height: 250px;      
    }
  }
}

