@import '../../styles/main.scss';

.AddToCartButton {
  display: flex;
  width: 456px;
  height: 56px;
  justify-content: center;
  align-items: center;
  background-color: $black;
  border: 1px solid transparent;
  transition-duration: $transition-duration;
  @extend %button;
  text-transform: uppercase;

  @include onBigDesktop {
    width: 352px;
    height: 48px;
  }

  @include onTablet {
    width: 240px;
  }

  @include onMobile {
    width: 224px;
  }

  &:hover {
    border-color: $black;
    background-color: $main-background;
    color: $black;
  }

  &:disabled {
    background-color: $bordo;
    pointer-events: none;
  }
}
