@import "../../styles/main.scss";

.ProductInSearch{
  width: 208px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition-duration: $transition-duration;
  position: relative;

  @include onBigDesktop {
    width: 158px;
    height: 299px;
    gap: 4px;
  }

  @include onTablet {
    width: 150px;
    height: 277px;
  }

  @include onMobile {
    width: 108px;
    height: 202px;
  }

  &:hover {
    .ProductInSearch__photo-img {
      transform: scale(1.1);
    }
  }

  &__photo {
    width: 100%;
    height: 312px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-shrink: 0;

    @include onBigDesktop {
      height: 237px;
    }

    @include onTablet {
      height: 225px;
    }

    @include onMobile {
      height: 162px;
    }

    &-img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;    
      transition-duration: $transition-duration;
    }
  }

  &__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 4px;

    @include onBigDesktop{
      gap: 0;
    }
  }


  &__title {
    transition-duration: $transition-duration;
    border-bottom: 1px solid transparent;
    @extend %h3;
    text-transform: uppercase;
    line-height: 100%;
    height: 28px;
    display: flex;
    align-items: flex-end;

    @include onBigDesktop {
      text-transform: none;
    }

    @include onMobile {
      font-weight: 400;
      height: 24px;
    }
  }

  &__price {
    @extend %navigation;
    color: $grey;
  }
}

