@import '../../styles/main.scss';

.Footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include onBigDesktop {
    height: 72px;
  }

  @include onTablet {
    height: 112px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: flex-end;

    @include onTablet {
      flex-direction: column;
      align-items: flex-end;
      gap: 16px;
    }

    @include onMobile {
      align-items: flex-start;
      gap: 8px;
    }
  }

  &__nav {
    display: flex;
    gap: 32px;
    @extend %navigation;

    @include onMobile {
      flex-direction: column;
      gap: 8px;
    }

    &-item {
      &:hover {
        color: $bordo;
      }
    }
  }

  &__rights {
    display: flex;
    align-items: center;
    gap: 8px;
    @extend %navigation;
    text-transform: uppercase;
    color: $grey;
  }
}
