@import "../../styles/main.scss";

.Order {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $beige;
  border-bottom: 1px solid $beige;
  height: 110px;
  padding: 8px 0;
  position: relative;
  background-color: $main-background;
  z-index: 1;

  @include onTablet {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    height: 158px;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 208px;
    width: 100%;

    @include onTablet {
      justify-content: space-between;
      gap: 0;      
    }
  

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    &-top {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &-status {
      display: flex;
      width: 208px;
      height: 48px;
      justify-content: center;
      align-items: center;
      @extend %button;
      color: $main-background;
    }
  }

  &__id {
    font-size: 16px;
    font-weight: 700;
  }

  &__date {
    font-size: 12px;
    font-weight: 400;
    color: $grey;
  }

  &__list {

    &-container {
      display: flex;
      gap: 16px;
    }
    display: flex;
    gap: 16px;
    max-width: 218px;
    overflow: hidden;

    &-item {
      width: 62px;
      height: 94px;
      flex-shrink: 0;

      &-extra {
        width: 20px;
        height: 94px;
        background-color: $main-background;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      width: 62px;
      height: 94px;

    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 16px;

  }

  &__total {
    font-size: 16px;
    font-weight: 700;
  }

  &__details {
    position: fixed;
    width: 100%;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 1px solid $beige;
    border-bottom: 1px solid $beige;
    opacity: 0;
    transition-duration: 1s;
    transform: translateY(-100px);
    pointer-events: none;

    &-title {
      @extend %body;
      font-size: 16px;
      margin-bottom: 8px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      gap: 32px;

      &-item {
        height: 168px;

        @include onBigDesktop {
          height: 138px;
        }
      }
    }

    &-delivery {

      &-info {
        text-transform: capitalize;
        @extend %smallText;
        color: $grey;
        margin-bottom: 4px;
      }
    }
  }
}

.details-open {
  opacity: 1;
  transform: translateY(0);
  position: relative;
  pointer-events: all;
}