@import '../../styles/main.scss';

.HomePage {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  @include onMobile {
    gap: 16px;
  }

  &__background {
    margin-top: 32px;
    background-image: url('../../assests/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: 800px;

    @include onBigDesktop {
      margin-top: 24px;
      min-height: 592px;
    }

    @include onTablet {
      height: 478px;
      min-height: initial;
    }

    @include onMobile {
      margin-top: 16px;
    }

    @media (max-width: 450px) {
      height: 250px;
    }
  }

  &__content {
    max-width: 544px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
    position: absolute;
    top: 50%;
    left: 0;

    @include onBigDesktop {
      max-width: 340px;
      gap: 24px;
    }

    @include onTablet {
      position: static;
      max-width: 450px;
    }

    @include onMobile {
      max-width: 100%;
      gap: 16px;
    }
  }

  &__title {
    @extend %h1;

    @include onMobile {
      font-size: 24px;
    }

    @media (max-width: 450px) {
      font-size: 16px;
    }
  }

  &__button {
    &-desktop {
      @include onTablet {
        display: none;
      }
    }

    &-mobile {
      display: none;
      width: 424px;
      height: 48px;
      @extend %button;
      background-color: $black;
      margin-bottom: 126px;
      transition-duration: $transition-duration;
      border: 1px solid transparent;

      &:hover {
        color: $black;
        border-color: $black;
        background-color: $main-background;
      }

      @include onTablet {
        display: block;
      }

      @media (max-width: 450px) {
        width: 100%;
      }
    }
  }
}
