@import "../../styles/main.scss";

.AccountTop {
  margin-top: 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include onBigDesktop {
    margin-top: 48px;
  }

  @include onMobile {
    margin-top: 32px;
  }

  &__title {
    margin-bottom: 20px;
    @extend %h1;

    @include onMobile {
      margin-bottom: 12px;
    }
  }

  &__greet {
    display: flex;
    gap: 8px;
    margin-bottom: 64px;
    @extend %body;

    @include onBigDesktop {
      margin-bottom: 52px;
    }

    @include onTablet {
      margin-bottom: 48px;
    }

    @include onMobile {
      margin-bottom: 32px;
    }

    &-text {
      text-transform: capitalize;
    }    

    &-logout {
      color: $bordo;
      border-bottom: 1px solid $bordo;

      &:hover {
        font-weight: 600;
      }
    }
  }

  &__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 32px;
    border-bottom: 1px solid $beige;
    padding: 16px;

    @include onTablet {
      gap: 24px;
    }

    @include onMobile {
      gap: 16px;
      text-transform: none;
    }
  }
}