@import '../../styles/main.scss';

.ShopPage {
  width: 100%;

  &__filters {
    display: flex;
    width: 100%;
    gap: 32px;
    justify-content: flex-end;
    margin-bottom: 32px;

    @include onBigDesktop {
      gap: 24px;
    }

    @include onTablet {
      gap: 16px;
      margin-bottom: 24px;
      flex-wrap: wrap;
    }

    &-button {
      display: flex;
      align-items: center;
      gap: 24px;
      padding: 8px;
      border: 1px solid $grey;
      transition-duration: $transition-duration;

      @include onBigDesktop {
        gap: 4px;
        font-size: 12px;
        padding: 4px;
      }

      @include onTablet {
        gap: 16px;
      }

      @include onMobile {
        gap: 8px;
        padding: 0px 4px;
      }

      &:hover {
        border-color: $black;
      }
    }

    &-name {
      @extend %body;
      text-transform: uppercase;
      line-height: 18px;

      @include onBigDesktop {
        font-size: 12px;
      }

      @include onTablet {
        font-size: 10px;
      }
    }
  }
}
