@import "../../styles/main.scss";

.AccountHistoryPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include onBigDesktop {
    gap: 24px;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 80px;

    @include onBigDesktop {
      gap: 24px;
    }
  }

  &__text {
    @extend %body;
  }
}