@import "../../styles/main.scss";

.ProductCard {
  width: 400px;
  height: 670px;
  transition-duration: $transition-duration;
  position: relative;

  &:hover {
    .ProductCard__photo-front {
      opacity: 0;
    }

    .ProductCard__photo-back {
      opacity: 1;
    }
  }


  @include onBigDesktop {
    width: 250px;
    height: 430px;
  }

  @include onDesktop {
    width: 200px;
    height: 356px;
  }

  @include onMobile {
    width: 136px;
    height: 250px;
    gap: 4px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onBigDesktop {
      gap: 8px;
    }
    
    @include onMobile {
      gap: 4px;
    }
  }

  &__photo {
    width: 100%;
    height: 600px;    
    position: relative;    

    &-front,  &-back {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      transition-duration: 1s;
    }

    &-front {
      opacity: 1;      
    }

    &-back {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }

    @include onBigDesktop {
      height: 350px;
    }

    @include onDesktop {
      height: 300px;
    }

    @include onMobile {
      height: 204px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include onBigDesktop {
      gap: 0;
    }
  }  

  &__title {
    display: inline-block;
    height: 24px;
    transition-duration: $transition-duration;
    border-bottom: 1px solid transparent;
    @extend %h3;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 110%;

    @include onBigDesktop {
      text-transform: none;
    }
  }

  &__price {
    @extend %navigation;
    color: $grey;
  }
}

