@import "../../styles/main.scss";

.ProductCard {
  width: 400px;
  height: 676px;
  transition-duration: $transition-duration;
  position: relative; 

  &:hover {
    .ProductCard__photo-front {
      opacity: 0;
    }

    .ProductCard__photo-back {
      opacity: 1;
    }
  }


  @include onBigDesktop {
    width: 250px;
    height: 424px;
  }

  @include onDesktop {
    width: 200px;
    height: 370px;
  }

  @include onMobile {
    width: 136px;
    height: 252px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 16px;

    @include onBigDesktop {
      gap: 12px;
    }
    
    @include onMobile {
      gap: 6px;
    }
  }

  &__photo {
    width: 100%;
    height: 600px;    
    position: relative;
    flex-shrink: 0;    

    &-front,  &-back {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      transition-duration: $transition-duration;
    }

    &-front {
      opacity: 1;      
    }

    &-back {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }

    @include onBigDesktop {
      height: 350px;
    }

    @include onDesktop {
      height: 300px;
    }

    @include onMobile {
      height: 204px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include onBigDesktop {
      gap: 0;
    }
  }  

  &__title {
    display: inline-block;
    transition-duration: $transition-duration;
    border-bottom: 1px solid transparent;
    @extend %h3;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 110%;

    @include onBigDesktop {
      text-transform: none;
      height: 32px;
    }

    @include onMobile {
      height: 24px;
    }
  }

  &__price {
    @extend %navigation;
    color: $grey;

    @include onMobile {
      line-height: 130%;
    }
  }
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  transition: all 0.3s !important;
}

.lazy-load-image-background.blur {
  filter: blur(5px);
}


