@import '../../styles/main.scss';

.Search {
  width: 512px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $main-background;
  animation: fade-in-left $transition-duration ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 3;

  @include onBigDesktop {
    width: 388px;
  }

  @include onTablet {
    width: 372px;
  }

  @include onMobile {
    width: 264px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 32px;
    border-bottom: 1px solid $beige;

    @include onBigDesktop {
      padding: 18px 24px;
    }

    @include onMobile {
      padding: 8px 16px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 64px 32px 32px;

    @include onBigDesktop {
      margin: 48px 24px 24px;
    }

    @include onMobile {
      font-weight: 400;
      text-transform: none;
      margin: 32px 16px 24px;
    }
  }

  &__info {
    @extend %body;
    margin-bottom: 48px;

    @include onBigDesktop {
      margin-bottom: 24px;
    }
  }

  &__input {
    width: 448px;
    height: 56px;
    text-align: center;
    outline: none;
    border: 1px solid $grey;
    background-color: $main-background;
    background-image: url('../../assests/icons/search-grey.svg');
    background-repeat: no-repeat;
    background-position: 160px center;
    margin-bottom: 48px;

    &:focus {
      border-color: $black;
    }

    &::placeholder {
      text-align: center;
    }

    @include onBigDesktop {
      width: 340px;
      background-size: 24px;
      background-position: 110px center;
      margin-bottom: 24px;
    }

    @include onTablet {
      width: 324px;
      height: 48px;
    }

    @include onMobile {
      width: 232px;
      background-position: 70px center;
      background-size: 16px;
    }
  }

  &__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__list {
    display: flex;
    gap: 32px;

    @include onBigDesktop {
      gap: 24px;
    }

    @include onMobile {
      gap: 16px;
    }
  }
}

.input-active {
  background-image: none;
}
