.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__container {
    position: relative;
    margin-bottom: 32px;

    @include onBigDesktop {
      margin-bottom: 24px;
    }

    @include onMobile {
      margin-bottom: 16px;
    }
  }

  &__field {
    width: 544px;
    height: 56px;
    text-align: center;
    outline: none;
    border: 1px solid $grey;
    border-radius: 0px;
    background-color: $main-background;
    @extend %body;

    &:focus {
      border-color: $black;
    }

    &::placeholder {
      text-align: center;
      @extend %body;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    @include onBigDesktop {
      width: 424px;
      height: 48px;
    }

    @media (max-width: 480px) {
      width: 280px;
    }
  }

  &__error {
    &-message {
      font-size: 10px;
      color: $bordo;
      align-self: flex-start;
      position: absolute;
      bottom: -14px;
    }

    &-limit {
      background-color: $error-background;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $bordo;
      height: 32px;
      width: 100%;
      font-size: 12px;
      color: $bordo;
      align-self: flex-start;
      position: absolute;
      bottom: -48px;
      text-align: center;
      animation: fade-in-up-s 0.3s ease-in-out;
    }
  }

  &__button {
    display: flex;
    width: 544px;
    height: 56px;
    justify-content: center;
    align-items: center;
    background-color: $black;
    border: 1px solid transparent;
    transition-duration: $transition-duration;
    margin-top: 32px;
    @extend %button;

    @include onBigDesktop {
      width: 424px;
      height: 48px;
      margin-top: 24px;
    }

    @include onTablet {
      text-transform: uppercase;
    }

    @media (max-width: 480px) {
      width: 280px;
      margin-top: 16px;
    }

    &:hover {
      color: $black;
      background-color: $main-background;
      border-color: $black;
    }
  }
}

.is-error {
  border: 1px solid $bordo;
  background-color: $error-background;
}
