@import "../../styles/main.scss";

.ProductDetailsPage {
  position: relative;
  width: 100%;

  &__container {
    display: flex;
    gap: 176px;

    @include onBigDesktop {
      gap: 64px;
    }

    @include onDesktop {
      gap: 24px;
    }

    @include onMobile {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  }

  &__wrapper {       
    @include onMobile {
      width: 260px;
    }
  }

  &__images {
    margin-bottom: 80px;

    @include onMobile {
      margin-bottom: 0;
      display: flex;
      gap: 8px;
      overflow-y: hidden;
      overflow-x: auto;
      scroll-snap-type: x mandatory;

      &::-webkit-scrollbar {
        height: 8px;
      }
      
      &::-webkit-scrollbar-track {
        box-shadow: inset 2px 2px 5px $beige; 
      }
       
      &::-webkit-scrollbar-thumb {
        background: #80808049;
        border-radius: 8px; 
      }
      
      &::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
        background: #80808082;        
      }
    }


    &-item {
      @include onMobile {
        width: 260px;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        scroll-snap-align: center;
        height: 100%;
      }      
    }

    &-img {
      width: 832px;
      height: 1247px;
      margin-bottom: 32px;
      object-fit: cover;

      @include onBigDesktop {
        width: 424px;
        height: 636px;
        margin-bottom: 24px;
      }

      @include onTablet{
        width: 312px;
        height: 468px;
      }

      @include onMobile {
        width: 260px;
        height: 400px;
        margin-bottom: 0;
      }
    }   
  }

  &__content {
    width: 100%;
    align-self: flex-start;
    position: sticky;
    top: 80px;
    right: 0;

    @include onBigDesktop {
      top: 62px;
    }

    @include onMobile {
      position: static;
      align-self: auto;
    }
  }

  &__title {
    @extend %h1;
    margin-bottom: 16px;

    @include onBigDesktop {
      margin-bottom: 8px;
    }
  }

  &__price {
    @extend %h3;
    color: $bordo;
    text-transform: uppercase;
    margin-bottom: 48px;

    @include onBigDesktop {
      margin-bottom: 32px;
    }
  }

  &__subtitle {
    @extend %body;
    text-transform: uppercase;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid $beige;

    @include onBigDesktop {
      padding-bottom: 8px;
    }
  }

  &__colors {
    margin-bottom: 48px;

    @include onBigDesktop {
      margin-bottom: 32px;
    }

    &-list {
      display: flex;
      gap: 32px;      

      @include onBigDesktop {
        gap: 8px;
      }

      @include onMobile {
        max-width: 280px;
        flex-wrap: wrap;
      }
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      padding: 8px;
      border: 2px solid transparent;
      transition-duration: $transition-duration;

      @include onBigDesktop {
        width: 40px;
        height: 40px;
        border: 1px solid transparent;
      }

      &:hover {
        border-color: #D3D3D3;
        cursor: pointer;
      }
    }

    &-link {
      width: 32px;
      height: 32px;

      @include onBigDesktop {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__sizes {
    margin-bottom: 48px;

    @include onBigDesktop {
      margin-bottom: 32px;
    }

    &-list {
      display: flex;
      gap: 32px;
      margin-bottom: 16px;

      @include onBigDesktop {
        gap: 8px;
        margin-bottom: 8px;
      }
    }

    &-item {
      min-width: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px;
      border: 2px solid transparent;
      transition-duration: $transition-duration;
      @extend %body;
      text-transform: uppercase;

      @include onBigDesktop {
        font-size: 12px;
        padding: 8px;
        border: 1px solid transparent;
      }

      &:hover {
        border-color: #D3D3D3;
        cursor: pointer;
      }
    }

    &-length {
      margin-bottom: 16px;

      @include onBigDesktop {
        margin-bottom: 8px;
      }
    }

    &-length, &-width {
      @extend %body;
      color: $grey;
    }
  }

  &__fabric {
    margin-bottom: 48px;

    @include onBigDesktop {
      margin-bottom: 32px;
    }

    &-info {
      @extend %body;
      color: $grey;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 80px;

    @include onTablet {
      gap: 24px;
    }

    &-fav {
      border: 1px solid $grey;
      transition-duration: $transition-duration;

      &:hover {
        border-color: $black;
      }
    }
  }
}

.item-active {
  border-color: $black;

  &:hover {
    border-color: $black;
  }
}

